
<html>
  <head>
    <title>video tagging</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{%static 'account/bootstrap-slider.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'account/style.css'%}" type="text/css">
    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js"></script>
      <script src="https://d3js.org/d3.v2.min.js"></script>
      {% block head %}
      {% endblock %}
  </head>
  <body>
  <div >
    <nav class="navbar  navbar-dark bg-dark" style="height:40px">
        <button type="button" class="btn btn-outline-success btn-sm " id="help_button" style="float:right" data-toggle="modal" data-target="#helpDialouge">How to Tag</button>
        <div id="helpDialouge" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width:800px; margin: 0 auto;">
              <div class="modal-header">
                <h4 class="modal-title">Emotion Video Labeling</h4>
              </div>
              <div class="modal-body">
                <h4>Instructions</h4>
                <ol type="1">
                  <li>You have to tag the emotions by estimating valence and arousal intensities of the actor/actress.<br>
                    <!--b>Valence:</b> signifies if the emotion ilicited in the person is positive or negative. <br-->
                    <ul><li><strong>Valence</strong> means the intrinsic "good"-ness (positive valence) or "bad"-ness (negative valence) of a person's emotion.<br>
                    <small>Some examples: <b>Joy</b> is <b>Positive</b> and <b>Anger</b> is <b>Negative</b></small><br></li>
                    <li><strong>Arousal</strong> is the physiological and psychological state of being awoken or stimulated.<br>
                      <!--b>Arousal:</b> potential bodily activity/inactivity of the person <br-->
                    <small>Some Examples: <b>Excited</b> is <b>high</b> and <b>Sad</b> is <b>low</b></small><br></ul></li></li>
                  <li>You have to click on the location on the two-dimensional emotion pane that best maps the actor/actress's emotion. Please consider the intensity of Valence and Arousal when you do the task. Intensity increases as it moves towards the rim.</li>
                </ol>
                <video src="{%static 'account/media/new_tutorial.mp4'%}" type="video/mp4" autoplay controls style="height:500px; width:700px">
                  <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        <div style='color:#eeeeee'>Emotion Tagging Task</div>
    </nav>
   </div>
   {% block body %}
   {% endblock %}

  </div>
  </div>

  </body>
</html>
