<!DOCTYPE html>
<html>
  <head>
    <title>video tagging</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{%static 'account/bootstrap-slider.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'account/style.css'%}" type="text/css">
  </head>
  <body>
  <div >
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span>
            <a href="/home/" class="btn btn-outline-success btn-lg " role="button" >Home</a>
            </span>
          </li>
        </ul>
          <span>
          <a href="/home/about/" class="btn btn-dark btn-lg " role="button" >About</a>
          </span>
          <span>
            <button type="button" class="btn btn-dark btn-lg" id="btnPopover" title="Instructions" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Help
</button></span>

    </div>

   </nav>
   </div>
   {% block body %}
   {% endblock %}
   <div class="footer">
   <div class="card text-white w-100 bg-dark">
   <div class="card-body">
     <h4 class="card-title" >Contact Information</h4>
     <p class="card-text">for more information contact athakur36@gmail.com</p>
   </div>
  </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{%static 'account/bootstrap-slider.js'%}"></script>
    <script type="text/javascript">
      $("#slider1").slider();
      $("#slider1").on("slide", function(slideEvt) {
    	$("#slider1SliderVal").text(slideEvt.value);

    });
    </script>
    <script type="text/javascript">
      $("#slider2").slider();
      $("#slider2").on("slide", function(slideEvt) {
    	$("#slider2SliderVal").text(slideEvt.value);

    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
      $('btnPopover').popover();

  });
    </script>

  </body>
</html>
