.footer {
  width:100;
   margin-top:50px; }
.title {
  margin-bottom: 50px;
  margin-top: 50px;
}

.separator {
    margin-top: 31px;
    margin-bottom: 20px;
    height: 10px;
    clear: both;
    display: block;
    width: 100%;
    border-top: 2px dotted #366;
}
.borderexample
{
border-style:solid;
border-color:grey;
}

h2 {
  margin-top:50px;
}
