{% extends 'base.html' %}
{% block body %}
<div class="container footer">
  <p>Website
This website consists of a video player that stops periodically to ask questions about the video being watched.
Featured features
Watch videos that have been annotated and have an interactive timeline.
Answer questions and vote on what other users have answered as you watch videos.
User study
The purpose of this study is to test how well our system can encourage users to generate concise summarizations of how-to videos when asked simple questions periodically while watching these videos.
As you watch videos, we will record actions such as the answers you submit and the edits made to the video’s outline. We also record a random variable assigned to each user’s session, but do not ask for or record any personal information.
You may revisit or remain on the site for as long as you’d like.
Requirements
You must be at least 18 years old.
You understand that you use this website at your own risk.
Guarantees
Your participation is voluntary. You may abandon this study at any time.
Your personal information will never be sent to researchers.</p>

</div>
{% endblock %}
