
<html>
  <head>
    <title>video tagging</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load staticfiles %}
    <script src="{% static 'account/js/emotion_slider.js' %}"></script>
    <link rel="stylesheet" href="{%static 'account/bootstrap-slider.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'account/style.css'%}" type="text/css">
  </head>
  <body>
  <div >
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" title="Emotion tagging task">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span>
            <a href="/home/" class="btn btn-outline-success btn-lg " role="button" >Home</a>
            </span>
          </li>
        </ul>
          <span>
          <a href="/home/about/" class="btn btn-dark btn-lg " role="button" >About</a>
          </span> -->
          <span>
            <button type="button" class="btn btn-outline-success btn-lg " id="btnPopover" title="Instructions" data-toggle="popover" data-placement="bottom" data-content="1.Read the text in the side panel to understand the context of the whole conversation.
             2. Video will be played for five seconds and you will be directed to the questionnaire page.
             3. Submit your response.">Help
           </button>
         </span>

    </div>

   </nav>
 </div><br><br>

   <div class="container-fluid">
     <div class="modal-body row">
       <div class="col-md-6">
         <h5>Please read the <em><b>instructions</b></em> and play the video when you are ready.</h5><hr><br>
         <div align="center" class="embed-responsive embed-responsive-16by9">
           <video class="embed-responsive-item" id="myVideo" controls>
               {% load staticfiles %}
               <source src="{% static 'account/media/videos/video1.mp4' %}" type="video/mp4">
               <source src="movie.ogg" type="video/ogg">
               Your browser does not support the video tag.
           </video>

         </div>

       </div>

        <div class="col-md-6">
          <div class="container">
           <form method="post">
             {% csrf_token %}
             {{ form.as_p}}
         <div class="panel panel-default">
           <div class="panel-body">
             <h3>INSTRUCTIONS:</h3><hr>
             <p>1. Please watch the video and pay attention to the emotions of the <b><em>person presented in the &nbsp;&nbsp;&nbsp;&nbsp;screenshot</em></b> below.</p>
             <p>2. Anytime you see an <b><em>emotional change</em></b> in the person, click on the progress bar below and tag the &nbsp;&nbsp;&nbsp;&nbsp;emotion in the right colomn. Press help button to watch "how to tag?"</p>
             <p>3. Press the <b><em>submit</em></b> button after tagging the whole video.</p><br><br>
             {% load staticfiles %}
             <img src="{% static 'account/img/video1_screenshot.jpg' %}"  style="height:30%"></img><hr>
           </div>
         </div>
         <hr>
          <p><b>Tag the emotion in below plane:</b></p><br>
          <img src="{% static 'account/img/circumplex_img.jpg' %}">
          <br><br>
          <hr/>
          <div class="footer">
          <p class="text">Please describe if any bodily expressions(face, gesture etc.) helped you to identify the underlined emotion.</p>
          <textarea name='bodyexpression1' style="width:100%; height: 70px"></textarea></div><br>
          <hr>
         <button class="btn btn-dark btn-lg footer" type="submit" style="height:50px; width:100px">Submit</button>
       </div>
     </form>
    </div>
   </div>
 </div>
   {% block body %}
   {% endblock %}
   <div class="footer">
   <div class="card text-white w-100 bg-dark">
   <div class="card-body">
     <h4 class="card-title" >Contact Information</h4>
     <p class="card-text">for more information contact athakur36@gmail.com</p>
   </div>
  </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js" ></script>
    <script src="{%static 'account/bootstrap-slider.js'%}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

  </body>
</html>
