{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-3">Site Guide</h1>
  <p class="lead">Please follow the below instructions in order to tag the videos</p>
</div>
</div>
<div class="container">
  <h3>1. Choose</h3>
  <p>Find a video that you're interested in learning more about.</p>
  <h3>2. Information</h3>
  <p>We written out the steps that the video goes through.
  Click on the steps to jump to that point in the video.</p>
  <h3>3. Watch</h3>
  <p>Watch the video as you normally would.</p>
  <h3>4. Summarize</h3>
  <p>Periodically, we'll stop the video and ask you to summarize what you've watched.
  Be specific to the section of the video that you just saw. Other users may see what you've written.</p>
  <h3>5. Example</h3>
  <p>Here's an example of a video about baking a cake. The video just covered the following steps:
  1. Put 1 cup of flour into a separate bowl
  2. Add 2 tbsp of baking powder
  3. Add 1/2 cup of sugar
  The video stops and asks:
  What was the overall goal of the video section you just watched?
  You might answer:
  Mix the dry ingredients</p>
  <em>See, it's easy!</em>
  {% endblock %}
  <iframe width="560" height="315" src="https://www.youtube.com/embed/mKO--YojicM" frameborder="0" gesture="media" allowfullscreen></iframe>

</div>
