{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<script src="{% static 'account/js/mturk.js' %}"></script>
<div class="container footer">

<h4>Emotion Tagging in Videos</h4><br>
<h4>Introduction</h4>
<p> You will watch a video in which an actor/actress expresses several emotions<!-- during a short speech-like utterance-->.
  <strong>Whenever you notice an emotion,</strong> your task is to tag the emotion which best describes what the actor/actress wanted to express in the respective moment.
</p><hr>
<!-- <h4 class="text">Purpose of The Study</h4>
<p>This study is to understand
  the emotion context of the conversation of our day to day life.</p>
<h4>Steps:</h4>
<p>1.You will be watching a video. Video will pause after every 5 seconds.<br>
2. After every 5 seconds you will be directed to questionaire page where you need to tag the emotion and provide other details.<br>
3. After submition of your response you will be directed back to the video which will resume for next 5 seconds </p>
4. Step 2 and 3 will repeat till the video ends.<br><br> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h5>How To Tag</h5>
      <ol type="1">
        <li>Please tag the emotions by estimating valence and arousal intensities of the actor/actress.<br>
          <!--b>Valence:</b> signifies if the emotion ilicited in the person is positive or negative. <br-->
          <ul><li><strong>Valence</strong> means the intrinsic positive valence or negative valence of a person's emotion.<br>
          <small>Some examples: <b>Joy</b> is <b>Positive</b> and <b>Anger</b> is <b>Negative</b></small><br></li>
          <li><strong>Arousal</strong> is the potential level of bodily activity/inactivity of the person.<br>
            <!--b>Arousal:</b> potential bodily activity/inactivity of the person <br-->
          <small>Some Examples: <b>Excited</b> is <b>high</b> and <b>Sad</b> is <b>low</b></small> (<label>I read this: <input id="checkBox-int1" style="" type="checkbox"></label>)<br></ul></li></li>

        <li>Click on a point on the map which best describes the actors emotion.
          Please consider the intensity of Valence and Arousal when you do the task.<br>
          Intensity increases as the point moves away from the center.<br>(<label>I read this:<input id="checkBox-int2" style="" type="checkbox"></label>)</li>
        <li>In some cases the actor/actress uses fairly subtle expressions that are tricky to judge.
        If this is the case, just trust your intuition and guess which emotion might have been expressed.</li>

          <!-- <small>Some Examples: <b>Excited</b> is <b>high</b> and <b>Sad</b> is <b>low</b></small> (<label>Click: <input id="checkBox-int1" style="" type="checkbox"></label>)<br></ul></li></li> -->

        <!-- <li>Please click on the location on the two-dimensional emotion pane that best maps the actor/actress's emotion.
          Please consider the intensity of Valence and Arousal when you do the task.
          Intensity increases as it moves towards the rim. (<label>Click: <input id="checkBox-int2" style="" type="checkbox"></label>)</li> -->


      </ol>

      <!--b><em>Note:</em><br> To read the instructions and watch the video anytime during the task, press <img src="{% static 'account/img/help-button.png' %}" style="height:4%"> on top left corner of the screen.<br>
        <Length of video may vary but won't be more than 9 mins.</b-->
      <p>Please press the green button to proceed to the task.</p>
    </div>
    <div class="col-md-6" style="background-color: #efefef;">
      <br><p align="center">Demo Video</p>
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <video src="{% static 'account/media/tutorial_tag.mp4' %}" type="video/mp4" autoplay controls style="height:100%; width:100%">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <small>In some cases the actor/actress uses fairly subtle expressions that are tricky to judge.
    If this is the case, just trust your intuition and guess which emotion might have been expressed. </small>
  </div> -->
</div>
<div><hr>
<form method='post'>{% csrf_token %}
<input id="intro_worker_id" type="text" style="display:none" name='workerId'>
<input id="intro_assignment_id" type="text" style="display:none" name='assignmentId'>
<input id="proceed_btn" class="btn btn-success btn-lg " name='submit' type='button' value="Proceed" style="color: white; float:center; margin-top:15px; margin-left:1000px; ">
</input>
</form>
</div>
</div>
<!-- <script>
  localStorage.elapsedtime = '0';
  function useralert(){
  {% if full %}alert("To capture the emotion  variation you will be presented questionnaire after evey 5 seconds.You can also choose to replay the video");{% endif %}
}
</script> -->
<script>
 $("#proceed_btn").on('click', function() {
    if ($("#checkBox-int2").prop('checked') && ($("#checkBox-int1").prop('checked'))){
      // useralert();
      $("#proceed_btn").prop("type", "submit")
    }
    else {
      alert("Please read the instruction carefully and click all the checkboxes.")
    }
  })
</script>

<script type="text/javascript">
// Check if the localStorage object exists
if(localStorage){
        // Store data
        localStorage.setItem("assignmentID", gup("assignmentId"));
            // Retrieve data
            //alert("Hi, " + localStorage.getItem("assignmentID"));
} else{
        alert("Sorry, your browser do not support local storage.");
}
</script>
{% endblock %}
