{% extends 'base.html' %}
{% block body %}
<div class="container footer">

<h3 class="title">Contextual Video Labeling</h3>
<h4>Introduction</h4>
<p> This task involves contextual video labeling. You will be provided with a video(along with the context)and you have
  tag the emotions you think is felt by the speaker at the time. In some cases you will be asked to answer questions
  related to the video or tag the degree of the emotions using chart provided in the task. This study is to understand
  the context of the conversation of out day to day life.
</p>
<h4>Purpose of The Study</h4>
<p>understand human emotions during a conversation within the context of a situation. This information can be helpful
 to suggest conversational component to users when they are stuck in similar situations.</p>
<h4>Steps:</h4>
<p>1.Read the text mentioned above the video to understand the conteext of the whole conversation <br>
2. Watch the video carefully and answer the questions at the end. <br>
3. Submit your response.</p>

<p>Please press the button to proceed to the task</p>
<div>

  <a href="/home/task/" class="btn btn-dark btn-lg " role="button">Proceed
  <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>

{% endblock %}
