{% extends 'base.html' %}
{% block body %}
<div class="container footer">

<h3 class="title">Contextual Video Labeling</h3>
<h4>Introduction</h4>
<p> You will see a series of short videos in which different actors express several emotions during a short speech-like utterance. Your task is to select the emotion word which best describes the emotion the actor wanted to express in the respective video. While it is often quite clear which emotion is intended, in some cases the actors use fairly subtle expressions and it is more difficult to judge which emotion is shown. If this is the case, just trust your intuition and guess which emotion might be expressed. Please put on your earphones to hear the sound.
</p>
<h4 class="text">Purpose of The Study</h4>
<p>This task involves contextual video labeling. You will be provided with a video(along with the context)and you have
  tag the emotions you think is felt by the speaker at the time. In some cases you will be asked to answer questions
  related to the video or tag the degree of the emotions using chart provided in the task. This study is to understand
  the context of the conversation of out day to day life.</p>
<h4>Steps:</h4>
<p>1.Read the text mentioned above the video to understand the conteext of the whole conversation <br>
2. Watch the video carefully and answer the questions at the end. <br>
3. Submit your response.</p>

<p>Please press the button to proceed to the task</p>
<div>

  <a href="/home/task/" class="btn btn-dark btn-lg " role="button">Proceed
  <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>
<script>
  localStorage.elapsedtime = '0';
</script>
{% endblock %}
