
{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{%static 'account/js/emotion_labeler.js'%}"></script>
<script src="{%static 'account/js/label_data_structure.js'%}"></script>
<script src="{%static 'account/js/mturk.js'%}"></script>

{% endblock %}

{% block body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body"><br>
      <font size="2"><p>Please tag your own emotion state below:</p><hr>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"><br><br><br><br><br>
        <p><b>Valence:</b> signifies if the emotion ilicited in the person is positive or negative <br>
        <b>Arousal:</b> potential bodily activity/inactivity of the person <br>
        Some Examples: <br>
        Excited: high valence, high arousal <br>
        sad: Low valence, low arousal <br><br>
        <b>Intensity of the each emotion increases as we move towards the center.</p></b><br>
      </div>
        <!-- Jean's change ends here -->

      <div id="label_pane" class="col-md-6">
        <div id="labeler" style="display:block; margin:auto; opacity:1"></div>
        <script>
          generate_circular_labeler('labeler')
        </script>
      </div>
    </div>
    <div>
      <button id='Selftag_Add' class='btn btn-primary btn-sm' style="display:block; margin:auto; margin-top:0px; padding: .1rem 1rem; margin-left:950px;">Submit</button><hr>
      <form id="mturk_form" method='POST' action="/home/task/" style='margin-bottom: 0px;'>
        {% csrf_token %}
        <button class="btn btn-success btn-lg " type="submit" id="Selftag_submit" style="display:block; margin:auto; margin-top:0px; padding: .1rem 1rem; margin-left:950px; " disabled>Proceed</button>
        <!-- <span class="glyphicon glyphicon-chevron-right"></span></a> -->
      </form>
      <!-- <a href="/home/task/" class="btn btn-dark btn-lg " role="submit" onclick="useralert()" style="float:center; margin-top:15px; margin-left:950px; ">Proceed
        <span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div>
  </div>


</div>

<script src="{% static 'account/js/interactive_progress_bar.js' %}"></script>
<script type="text/javascript">
//self-emotion tagging check
$("#Selftag_Add").click(function(){
  if (select_dic['labeler']) {
    add_Selflabel_to_data_structure('labeler');
    console.log("self tag is stored in the datastructure");
    $("#Selftag_Add").prop("disabled", true)
    $("#Selftag_submit").prop("disabled", false)
    var elem = document.getElementById("label_pane");
    elem.setAttribute("style","pointer-events: none;");
    $("#label_pane").css("opacity", 0.3);
    delete_value_circle('labeler')
  }
  else{
    alert("Please tag your emotion on the Plane before submitting");
  }
})

//self_tag button submit
$("#Selftag_submit").click(function(event) {
  // force submit
  console.log("Selftag_submit clicled");
  $("#Selftag_submit").attr('type', 'submit');
  selfTagSubmit();
  //location.href = "/home/task/";
});
</script>
{% endblock %}
