
{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{%static 'account/js/emotion_labeler.js'%}"></script>
<script src="{%static 'account/js/label_data_structure.js'%}"></script>
<script src="{%static 'account/js/mturk.js'%}"></script>
<!--<script>
window.onload=function(){
                  document.getElementById('myVideo').addEventListener('loadedmetadata', function() {
                  {% if full %}
                    this.currentTime = parseInt(localStorage.getItem('elapsedtime'));
                    {% if id %}
                      localStorage.id = {{id}}
                    {% endif %}
                  {% else %}
                    localStorage.id = {{id}}
                    this.currentTime = {{start}}
                  {% endif %}
                  console.log("loaded");
                },
                false)
              };
</script>-->
{% endblock %}

{% block body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body" style="margin-top:10px;">
      <h5>INSTRUCTIONS:</h5>
      <div class='row'>
        <div class='col-sm-1' style="display:inline-block">
          <img id="figure_image" src="{% static 'account/img/customer_1.png' %}" style="height: 110px; display:block; margin: auto;">
        </div>
        <div class='col-sm-11' style="display:inline-block">
          <font size="2"><p class='compact_p'>1. Please watch the video and pay attention to the emotions of the <em>person presented in the left <b>screenshot</em></b>:</p>
            <p class='compact_p'>2. Anytime you see an <b><em>emotional change</em></b> in the person, click on the <img src="{% static 'account/img/tag_button.png' %}" style="height:3%"> button attached below the progress bar and add the emotion by clicking your estimation on the square &nbsp;&nbsp;&nbsp;plane. Save the emotion for that moment using <b>add</b> button. For help click <b>"how to tag?"</b> button on the top left.</p>
            <p class='compact_p'>3. Press the <b><em>submit</em></b> button after tagging the whole video.</p></font>
        </div>
        </div>
        <hr style='margin: 5px 0px'></div>
      </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p class='compact_p'><em>Play the video once you are ready:</em><br></p>

        <div align="center" class="embed-responsive embed-responsive-16by9">
          <!-- Jean's change starts here -->
          <video class="embed-responsive-item" id="myVideo">
              {% load staticfiles %}
              <source src="{% static 'account/media/grumpy_customer.mp4' %}" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
          </video>
          <canvas style="display:none"></canvas>
          <img id="img"></img>
        </div>
        <br/>
        <div id='interactive_progress_bar' class="row">
          <div class="col-sm-2">
            <div id='controls'>
              <button id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'>
                <img id='playpauseimg' src="{% static 'account/img/icon_round_play.png' %}" style="width:30px"></img>
              </button>
            </div>
          </div>
			    <!--progress id='progress-bar' min='0' max='100' value='0'>0% played
            <span class="pop-over" data-toggle="tooltip" data-placement="bottom" title="tag"> </span>
          </progress-->
          <div class="col-sm-10">
            <div class="barWrapper">
              <div id='progress' class="progress">
                <div id='progress-bar' class="progressBar bg-success" role="progressbar" style="width:100%; height:20px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">
                  <span id='pr-bar-tooltip' class="popOver" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<a href='#' id='tag-tooltip' style='color:black' onclick='enable_tagging()'>tag</a>"></span>
                </div>
                <div id='progress-bar-sub' class="progressBar" role="progressbar" style="background-color: #cccccc; width:0%; height:20px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Jean's change ends here -->
      </div>
      <div id="label_pane" class="col-md-6" style="opacity: 0.3">
        <div><font size='2'>Point emotion of the figure on the plane.</font></div>
        <div id="labeler" style="display:block; margin:auto;"></div>
        <p class="text compact_p"><font size='2'>Describe any bodily expressions(face, gesture etc.) helped you to identify the underlining emotion.</font></p>
        <textarea name='bodyexpression1' style="width:100%; height: 20px"></textarea>
        <div style="float:right">
          <button id='Add_button' class='btn btn-primary btn-sm' style="display:inline; margin-top : 5px" disabled>Add</button>
          <button id='Delete_button' class='btn btn-danger btn-sm' style="display:inline; margin-top : 5px" disabled>Cancel</button>
        </div>
        <script>
          generate_circular_labeler('labeler')
        </script>
      </div>
    </div>
    <form id="mturk_form" method='POST' style='margin-bottom: 0px;'>
      {% csrf_token %}
      <input type='text' name='result_json_string' style="display:none"></input>
      <input type='text' name='Turker_Id' style="display:none"></input>
      <input type='text' name='Assignment_Id' style="display:none"></input>
      <button class='btn btn-success' id="submitBtn" type='submit' style="display:block; margin:auto; margin-top:0px; height: 30px; padding: .1rem 1rem;" disabled>Submit</button>
    </form>
  </div>


</div>
<!-- <div class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to replay the video?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="proceed">Proceed</button>
        <button type="button" class="btn btn-success" id="replay" data-dismiss="modal">Replay</button>
      </div>
    </div>
  </div>
</div> -->



<!--<script>


//var pausetime=2;
var video = document.getElementById("myVideo");
video.addEventListener("timeupdate", function(){
// check whether we have passed 5 minutes,
// current time is given in seconds
  // var video = document.querySelector('video');
  // var canvas = document.querySelector('canvas');
  // var context = canvas.getContext('2d');
  // var w,h,ratio;
  // ratio = video.videoWidth / video.videoHeight;
  // // Define the required width as 100 pixels smaller than the actual video's width
  // w = video.videoWidth - 100;
  // // Calculate the height based on the video's width and the ratio
  // h = parseInt(w / ratio, 10);
  // // Set the canvas width and height to the values just calculated
  // canvas.width = w;
  // canvas.height = h;
  endOffset = {% if full %}parseInt(localStorage.getItem('elapsedtime'))+30{% else %}{{start}}+30{% endif %};
  if(this.currentTime >= endOffset) {
    video.pause();
    $(".modal").modal('show');
  }
});
$("#proceed").on('click',function() {
  console.log('clicked');
  var video = document.getElementById("myVideo");
  // pause the playback
  {% if full %}localStorage.elapsedtime = video.currentTime;{% endif %}
  // context.drawImage(video, 0, 0, w, h);
  // var img = canvas.toDataURL();
  // var storageFiles = {"img":img};
  // localStorage.width = w;
  // localStorage.height = h;
  // localStorage.setItem('img',JSON.stringify(storageFiles));
  if (localStorage.id && ("{{full}}" == "True")){
    window.location.href="/home/questionaire?full={{full}}&id="+localStorage.id;
  }
  else if ({{id}}){
    window.location.href="/home/questionaire?full={{full}}&id={{id}}";
  }
  else{
    window.location.href="/home/questionaire?full={{full}}";
  }
})
$("#replay").on("click",function() {
  var video = document.getElementById("myVideo");
  video.currentTime = video.currentTime - 30;
  video.play();
})
</script>-->
<!-- Jean added -->
<script src="{% static 'account/js/interactive_progress_bar.js' %}"></script>

  <!--<script src="{%static 'account/js/faceDetection.min.js'%}"></script>
  <script type="text/javascript">
    setTimeout(function(){
    window.location.href="/home/questionaire/";},20000);
  </script>
  <script type="text/javascript">
    $("#detect").click(function(){
    alert("Detecting Face ..............");
    jQuery( document ).ready(function( $ ) {
    $(".embed-responsive-item").faceDetection({
      complete:function(faces){
        alert("Detection Complete");
        for(var i=0;i<faces.length;i++){
          $('<div>',{
            'class':'face',
            'css':{
              'position':'absolute',
              'left':faces[i].x*faces[i].scaleX+'px',
              'top':faces[i].y*faces[i].scaleY+'px',
              'width':faces[i].width*faces[i].scaleX+'px',
              'height':faces[i].height*faces[i].scaleY+'px'
            }
          })
          .insertAfter(this);
        }
      },
      error:function(code,message){
        alert("Error: "+message);
      }
    });});
    });
  </script>-->


{% endblock %}
