{% extends 'base.html' %}
{% block head %}
<title>jQuery UI Slider - Default functionality</title>
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v2.min.js"></script>
<script>
window.onload=function(){
                  document.getElementById('myVideo').addEventListener('loadedmetadata', function() {
                  this.currentTime = localStorage.getItem('elapsedtime');
                  console.log("pageload(elapsedtime):"+localStorage.getItem('elapsedtime'));
            }, false  );

       };
</script>
{% endblock %}
{% block body %}
<div class="container wrapper">
  <h3 class= "title">progress: Video 1 of 10</h3>
  <div class="separator"></div>
  <div class="container-fluid">
    <div class="modal-body row">
      <div class="col-md-6">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" id="myVideo" controls>
              {% load staticfiles %}
              <source src="{% static 'account/media/grumpy_customer.mp4' %}" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
          </video>
        </div>
        <h2 id="detect">Detect Face</h2>
      </div>
      <div class="col-md-6">

          <h2>Context:</h2><br>
          <p>Departmental store training example: A departmental store employee attending a customer.</p>
      </div>
    </div>
  </div>
    <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"></button>
  <hr/>

</div>
<script>

//var pausetime=2;
var video = document.getElementById("myVideo");
video.addEventListener("timeupdate", function(){
// check whether we have passed 5 minutes,
// current time is given in seconds
console.log("currenttime: "+this.currentTime);

if(this.currentTime >= parseInt(localStorage.getItem('elapsedtime'))+5) {
    // pause the playback
    localStorage.elapsedtime= this.currentTime;
    video.pause();
    alert("5 sec passed(elapsedtime):"+localStorage.getItem('elapsedtime'));
    window.location.href="/home/questionaire/";
}
});
</script>
  <!--<script src="{%static 'account/js/faceDetection.min.js'%}"></script>
  <script type="text/javascript">
    setTimeout(function(){
    window.location.href="/home/questionaire/";},20000);
  </script>
  <script type="text/javascript">
    $("#detect").click(function(){
    alert("Detecting Face ..............");
    jQuery( document ).ready(function( $ ) {
    $(".embed-responsive-item").faceDetection({
      complete:function(faces){
        alert("Detection Complete");
        for(var i=0;i<faces.length;i++){
          $('<div>',{
            'class':'face',
            'css':{
              'position':'absolute',
              'left':faces[i].x*faces[i].scaleX+'px',
              'top':faces[i].y*faces[i].scaleY+'px',
              'width':faces[i].width*faces[i].scaleX+'px',
              'height':faces[i].height*faces[i].scaleY+'px'
            }
          })
          .insertAfter(this);
        }
      },
      error:function(code,message){
        alert("Error: "+message);
      }
    });});
    });
  </script>-->


{% endblock %}
